/*
Defaults - Mobile First
*/

/* Shared */
body {
	background: #DFDFDF;
}
a, a:hover {
	color: #049fd9;
	text-decoration: none;
}
/** Shared Header **/
#ks-header-row {
	background: #ffffff;
}
#ks-header-col {
	padding-left: 0;
	padding-right: 0;
}
#ks-header-title {
	font-weight: 200;
	font-size: 2.125rem;
	line-height: 3.75rem;
}
.ks-header-menu-item {
	padding-bottom: 3px;
	padding-top: 1px;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	transition: border-bottom 0.15s linear;
}
.ks-header-menu-item.active, .ks-header-menu-item:hover {
	border-bottom-color: #049fd9;
}
.ks-header-menu-spacer {
	padding-left: 15px;
	padding-right: 15px;
}
/** Shared Footer **/
#ks-footer-row {
	font-size: 0.625rem;
	margin-bottom: 5%;
}

/* About Page */
/** About Page Hero **/
#ks-hero {
	background: #ffffff;
	margin-top: 5%;
	margin-bottom: 5%;
}
.ks-hero-title {
	font-weight:300;
	font-size: 1.375rem;
}
.ks-hero-title {
	margin-top: 10px;
}
.ks-hero-body {
	font-size: 0.875rem;
}
#ks-hero-cta {
	margin-top: 15px;
	border-radius: 50px;
	background-color: #049fd9;
	color: #ffffff;
	font-weight:300;
	font-size: 1.25rem;
}

/* 
Bootstrap Responsive Media Queries
*/

/* Bootstrap xs */
@media (max-width: 575px) {
	/* Shared */
	/** Shared Header **/
	#ks-header-title {
		width: 100%;
		text-align: center;
		padding-top: 3px;
	}
	#ks-header-menu {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}
	/** Shared Body **/
	#ks-body-row {
		margin-left: 0;
		margin-right: 0;
	}
	/* About Page */
	/** About Page Hero **/
	#ks-hero {
		padding: 15px;
	}
	#ks-hero-image {
		max-width: 50%;
	}
}
/* Bootstrap sm+ */
@media (min-width: 576px) {
	/* Shared Header */
	#ks-header-col {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	#ks-header-title {
		font-size: 2.375rem;
		float: left;
	}
	.ks-header-menu-item {
		float: right;
	}
	.ks-header-menu-spacer {
		float: right;
	}
	/* About Page */
	/** About Page Hero **/
	#ks-hero {
		padding: 22.5px;
	}
	.ks-hero-title:first-child{
		margin-top: 0;
	}
	.ks-hero-title {
		font-size: 1.46875rem;
	}
	.ks-hero-body {
		font-size: 0.953125rem;
	}
	#ks-hero-cta {
		font-size: 1.34375rem;
	}
	#ks-footer-row {
		font-size: 0.65625rem;
	}
}
/* Bootstrap md+ */
@media (min-width: 768px) {
	/* Shared Header */
	#ks-header-title {
		font-size: 2.625rem;
	}
	/* About Page */
	/** About Page Hero **/
	#ks-hero {
		padding: 30px;
	}
	.ks-hero-title {
		font-size: 1.5625rem;
		margin-top: 15px;
	}
	.ks-hero-body {
		font-size: 1.03125rem;
	}
	#ks-hero-cta {
		font-size: 1.4375rem;
		margin-top: 20px;
	}
	#ks-footer-row {
		font-size: 0.6875rem;
	}
}
/* Bootstrap lg+ */
@media (min-width: 992px) {
	/* Shared Header */
	#ks-header-title {
		font-size: 2.875rem;
	}
	/* About Page */
	/** About Page Hero **/
	#ks-hero {
		padding: 45px;
	}
	.ks-hero-title {
		font-size: 1.65625rem;
		margin-top: 20px;
	}
	.ks-hero-body {
		font-size: 1.109375rem;
	}
	#ks-hero-cta {
		font-size: 1.53125rem;
		margin-top: 25px;
	}
	#ks-footer-row {
		font-size: 0.71875rem;
	}
}
/* Bootstrap xl+ */
@media (min-width: 1200px) {
	/* Shared Header */
	#ks-header-title {
		font-size: 3.125rem;
	}
	/* About Page */
	/** About Page Hero **/
	#ks-hero {
		padding: 45px;
	}
	.ks-hero-title {
		font-size: 1.75rem;
		margin-top: 25px;
	}
	.ks-hero-body {
		font-size: 1.1875rem;
	}
	#ks-hero-cta {
		font-size: 1.625rem;
		margin-top: 30px;
	}
	#ks-footer-row {
		font-size: 0.75rem;
	}
}
/* Non-Bootstrap XXL+ */
@media (min-width: 1400px) {
	/* About Page */
	/** About Page Hero **/
	#ks-hero {
		padding: 60px;
	}
}